<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="false">
    <target name="file_info" xsi:type="File" fileName="${basedir}/Log/Info.txt" archiveFileName="${basedir}/Log/InfoLog_{#}.txt"
            archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Date" keepFileOpen="false" encoding="UTF-8" concurrentWrites="true"
            layout="[${longdate}][${level}] ${message} ${exception}"/>

    <target name="file_error" xsi:type="File" fileName="${basedir}/Log/Error.txt" archiveFileName="${basedir}/Log/ErrorLog_{#}.txt"
           archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Date" keepFileOpen="false" encoding="UTF-8" concurrentWrites="true"
           layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>

    <target name="file_Warn" xsi:type="File" fileName="${basedir}/Log/Warn.txt" archiveFileName="${basedir}/Log/WarnLog_{#}.txt"
           archiveEvery="Day" maxArchiveFiles="30" archiveNumbering="Date" keepFileOpen="false" encoding="UTF-8" concurrentWrites="true"
           layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>

    <target name="file_Debug" xsi:type="File" fileName="${basedir}/Log/ClientInfo.txt"
           archiveFileName="${basedir}/Log/ClientInfoLog_{#}.txt"
           archiveEvery="Hour" archiveNumbering="Date" maxArchiveFiles="24" concurrentWrites="true"
           keepFileOpen="false" encoding="UTF-8" layout = "${longdate} ${message}"/>
    <target name="email"
         xsi:type="Mail"
         smtpServer="smtp.qq.com"
         smtpPort="587"
         smtpAuthentication="Basic"
         enableSsl="true"
         addNewLines="true"
         smtpUserName="xxxxxx@qq.com"
         smtpPassword="123"
         from="xxxxxx@qq.com"
         to="aaaaaa@qq.com"
         subject="${machinename}"
         body="${message}"
            />
  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="file_Debug" />
    <logger name="*" levels="Info"  writeTo="file_info"></logger>
    <logger name="*" levels="Error"  writeTo="file_error"></logger>
    <logger levels="Error"  writeTo="email"></logger>
    <logger name="*" levels="Warn"  writeTo="file_Warn"></logger>
  </rules>
</nlog>